{
    "full_log": false,
    "full_log_filename": "full-log.txt",
    "live_sync": false,
    "enable_swarfarm_logger": true,
    "log_runs": true,
    "log_wipes": false,
    "log_summon": true,
    "log_raids": true,
    "log_arena": true,
    "log_world_boss": true,
    "log_toa": true,
    "google_key": "sw-runs-141453f2a4d3.json",
    "sheet_name": "SW Runs"
}
